{% load static %}
<head>

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

  <title>Family Express</title>
  <link rel="icon" type="image/png" href="/static/image/jp/logo.svg" />


  <div class="fe_topbanner">
    <div class="tb_div">
      <img src="/static/image/cn/topbanner01_cn.png">
    </div>
    <div class="tb_div" style="margin-top:25px"><a href="{% url 'inquiry_cn' %}">
        <img src="/static/image/cn/topbanner02_cn.png"></a></div>
  </div>


  <!-- CSS Files -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
  <link rel="stylesheet" href="/static/main.css">

</head>

<nav class="navbar navbar-expand-sm navbar-light" id="neubar">
  <div class="container">
    <a class="navbar-brand" href="{% url 'home_cn' %}"><img src="/static/image/banner/feglogo.png" class="toplogo"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class=" collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ms-auto ">

        <div class=" collapse navbar-collapse" id="navbarNavDropdown">
          <div class="other_lang">
            <ul style="list-style:none; justify-content: space-evenly;">
              <li style="float:left"><a href="{% url 'home' %}">KR</a></li>
              <li style="float:left">|</li>
              <li style="float:left"><a href="{% url 'home_cn' %}">CN</a></li>
              <li style="float:left">|</li>
              <li style="float:left"><a href="{% url 'home_eng' %}">EN</a></li>
              <li style="float:left">|</li>
              <li style="float:left"><a href="{% url 'home_jp' %}">JP</a></li>
            </ul>
          </div>

          <li class="nav-item dropdown">
            <a class="nav-link mx-2" aria-current="page" href="{% url 'intro_cn' %}" id="homelink" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              <p class="title">公司简介</p>
            </a>
            <ul class="dropdown-menu" aria-labelledby="homelink">
              <li><a class="dropdown-item" href="{% url 'intro_cn' %}">问候语</a></li>
              <li><a class="dropdown-item" href="{% url 'history_cn' %}">发展历程</a></li>
              <li><a class="dropdown-item" href="{% url 'ogchart_cn' %}">组织结构图</a></li>
              <li><a class="dropdown-item" href="{% url 'sponsorship_cn' %}">赞助活动</a></li>
              <li><a class="dropdown-item" href="{% url 'access_cn' %}">路线</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown ">
            <a class="nav-link mx-2" aria-current="page" href="{% url 'sea_cn' %}" id="worklink" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              <p class="title">主要业务</p>
            </a>
            <ul class="dropdown-menu" aria-labelledby="worklink">
              <li><a class="dropdown-item" href="{% url 'sea_cn' %}">海运进出口</a></li>
              <li><a class="dropdown-item" href="{% url 'air_cn' %}">航运进出口</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown ">
            <a class="nav-link mx-2 " aria-current="page" href="{% url 'service_cn' %}" id="fegsquare" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              <p class="title">FEG 核心价值</p>
            </a>
            <ul class="dropdown-menu" aria-labelledby="fegsquare">
              <li><a class="dropdown-item" href="{% url 'service_cn' %}">专业服务</a></li>
              <li><a class="dropdown-item" href="{% url 'price_cn' %}">合理的费用</a></li>
              <li><a class="dropdown-item" href="{% url 'inquiry_cn' %}">报价咨询</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link mx-2" href="{% url 'travel_cn' %}">
              <p class="title">预定和票务</p>
            </a>
          </li>
      </ul>
    </div>
  </div>
</nav>