<!DOCTYPE html>
<html lang="en">
  {% include 'base_jp/head.html' %}

<body>
  <div id="carouselExampleFade" class="carousel slide carousel-fade">
    <div class="carousel-inner slide">
      <div class="carousel-item active">
        <img src="/static/image/jp/slide01.jpg" style="width : 100%; height : auto;" class="d-block w-100"
          alt="...">
      </div>
      <div class="carousel-item">
        <img src="/static/image/jp/slide02.jpg" style="width : 100%; height : auto;" class="d-block w-100"
          alt="...">
      </div>
      <div class="carousel-item">
        <img src="/static/image/jp/slide03.jpg" style="width : 100%; height : auto;" class="d-block w-100"
          alt="...">
      </div>
      <div class="carousel-item">
        <img src="/static/image/jp/slide06.jpg" style="width : 100%; height : auto;" class="d-block w-100"
          alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
    <div style="text-align:center">
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
    </div>
  </div>


  <div id="fe_mainmap">

    
    <div style="text-align: center;">
      <p></p>
      <p style="font-weight: bold; font-size: larger;">重要8箇所の都市に本社の直営運営及び地域ALLIANCEを通じる</p>
      <p></p>
      <h4>全世界パートナシップと広域物流ネットワーク</h4>
      <div class="mainworldmap_wrap">
        <img src="/static/image/jp/mainworldmapbig.jpg" >
      </div>
    </div>
  </div>
  
  <div style="text-align: center">
    <div>
      <p style="font-weight: bold; font-size: larger;">GENERAL FREIGHT FORWARDING</p>
      <p>国内のほか船社、航空社と緊密な協力提携を通じる全世界の輸出入運送及び<br>
        Consolidation General Forwardingを始め、輸出入通関、内陸運送、保険訃報代行、<br>
        包装、保管、３PL、物流コンサルティング</p>
    </div>
  </div>


  <!-- <div class="bottom_image"> -->
    <div style="margin-bottom: 50px;">
      <div class="bottom_sub_total_image" style="justify-content: center;">
        <div class="bottom_sub_image">
          <img src="/static/image/mainpage/maindownimg01.jpg">
          <p class="bottom_sub_image_text" style="font-weight: bold; text-shadow: 2px 2px 2px black;">主要業務</p>
        </div>

        <div class="bottom_sub_image">
          <img src="/static/image/mainpage/maindownimg02.jpg">
          <p class="bottom_sub_image_text" style="font-weight: bold; text-shadow: 2px 2px 2px black;">専門的サービス</p>
        </div>

        <div class="bottom_sub_image">
          <img src="/static/image/mainpage/maindownimg03.jpg">
          <p class="bottom_sub_image_text" style="font-weight: bold; text-shadow: 2px 2px 2px black;">合理的費用</p>
        </div>
      </div>
    </div>
  <!-- </div> -->

  {% include 'base_jp/footer.html' %}

</body>

</html>