<!DOCTYPE html>
<html lang="en">

  {% include 'base/navbar_eng.html' %}

<body>
  <div id="carouselExampleFade" class="carousel slide carousel-fade">
    <div class="carousel-inner slide">
      <div class="carousel-item active">
        <img src="/static/image/mainpage/slidelogo01.jpg" style="width : 100%; height : auto;" class="d-block w-100"
          alt="...">
      </div>
      <div class="carousel-item">
        <img src="/static/image/mainpage/slidelogo02.jpg" style="width : 100%; height : auto;" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/static/image/mainpage/slidelogo03.jpg" style="width : 100%; height : auto;" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
    <div style="text-align:center">
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
    </div>
  </div>


  <div id="fe_mainmap">
    <div style="text-align: center;">
      <p></p>
      <p>F.E.G NETWORK including 8 operating branches and</p>
      <p></p>
      <h4>variety of alliance partnerships through out the main trading cities.</h4>
      <img src="/static/image/mainpage/mainworldmapbig_eng.jpg" style="width:100%">
    </div>
  </div>


    <div class="sub_text">
      <div style="text-align: center;">
        <p style="font-weight: bold; font-size: larger;">GENERAL FREIGHT FORWARDING</p>
        <p>IN,OUTBOUND transport and consolidation general forwarding<br>
            with WORLD-WIDE alliances of liners and airlines including<br>
            export & import customs clearance, inland trucking, insurance<br>
            cover agency, packing, storage, 3PL and distribution consulting.
        </p>
      </div>
    </div>
    
    <div class="sub_image" style="margin-bottom: 50px;">
      <div class="bottom_sub_total_image">
        <div class="bottom_sub_image">
          <img src="/static/image/mainpage/maindownimg01.jpg" style="width : 500px; height : 300px">
          <p class="bottom_sub_image_text" style="font-weight: bold; text-shadow: 2px 2px 2px black;">Core Operation</p>
        </div>

        <div class="bottom_sub_image">
          <img src="/static/image/mainpage/maindownimg02.jpg" style="width : 500px; height : 300px">
          <p class="bottom_sub_image_text" style="font-weight: bold; text-shadow: 2px 2px 2px black;">Specialized Service</p>
        </div>

        <div class="bottom_sub_image">
          <img src="/static/image/mainpage/maindownimg03.jpg" style="width : 500px; height : 300px">
          <p class="bottom_sub_image_text" style="font-weight: bold; text-shadow: 2px 2px 2px black;">Resonable Cost</p>
        </div>
      </div>
    </div>



  {% include 'base/footer_eng.html' %}

</body>

</html>