<!DOCTYPE html>
<html lang="en">

    {% include 'base/navbar_eng.html' %}

<body>
    <div class="doorimg">
        <img src="/static/image/maintask/business area_eng.jpg" style="width : auto; height : 250px"
            class="d-block w-100">
    </div>

    <div class="tabs">
        <ul class="nav nav-tabs submenu justify-content-center">
            <li class="nav-item">
                <a class="nav-link " aria-current="page" href="{% url 'corevalue_eng' %}">PROFESSIONAL CUSTOMER
                    CARE</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'rational_price_eng' %}">REASONABLE PRICE</a>
            </li>
        </ul>
    </div>

    <div class="tasktext">
        <div style="margin-bottom: 50px;">
            <p class="sub_title">REASONABLE PRICE</p>
            <hr style="border: solid 1px black;">
        </div>


        <div class="li_text" style="margin-top:50px; line-height: 250%;">
            <h5 class="adr_title">1. Self-Established Customs Entry and Transportation</h5>
            <p class="adr_text">a. One-Stop, Total Forwarding Service Controlled by F.E.G.</p>
        <p class="adr_text">b. From Booking to Door Delivery Handled by F.E.G.</p>

            <div class="space"></div>

            <h5 class="adr_title">2. Individual Trailer Broker: F.E.G. Logistics Inc.</h5>

            <div style="text-align: center;">
                <img src="/static/image/corevalue/rational01.jpg" class="be_img">
                <img src="/static/image/corevalue/rational01_small.jpg" class="af_img">
            </div>

            <p class="adr_title">a. Load Options</p>
            <p class="adr_text">Whether you’re looking to book a one-time load or dedicated equipment opportunities, our diverse customer
                base and industries served offers you transactional and contractual opportunities to reduce empty miles.
            </p>
            <p class="adr_title">- LTL</p>
            <p class="adr_text"> Less-Than-Truckload brings low-cost freight transportation throughout the nation. Our dedicated LTL
                support
                team is available 24/7 to assist your team with every shipment.</p>
            <p class="adr_title">- FTL</p>
            <p class="adr_text"> Full-Truckload-Load is dedicated and capable in reducing costs and improves execution throughout the
                transit. We have established a result-oriented and proven track record to safely and quickly deliver our
                customers’ shipments.</p>

                <div style="text-align: center;">
                    <img src="/static/image/corevalue/rational02.jpg" class="be_img">
                    <img src="/static/image/corevalue/rational02_small.jpg" class="af_img">
                </div>

                <div class="space"></div>

            <p class="adr_title">b. Quality Freight</p>
            <p class="adr_text">- Our network of over 25,000 shippers is constantly growing, providing our carriers a wide variety of
                quality
                and reliable loads that keep your drivers and fleet on the road.
                As a partner of leading full-service 3PL companies, we cooperate with numerous of carriers to bring much
                options as possible.</p>

                <div style="text-align: center;">
                    <img src="/static/image/corevalue/rational03.jpg" class="be_img">
                    <img src="/static/image/corevalue/rational03_small.jpg" class="af_img">
                </div>

                <div class="space"></div>

            <p class="adr_title">c. Industry-Leading Technology</p>
            <p class="adr_text">- We have an online portal that enables drivers and dispatchers real-time access to view and update
                tracking,
                access available loads, run performance reports, upload
                documents, and manage payables online.</p>

                <div style="text-align: center;">
                    <img src="/static/image/corevalue/rational04.jpg" class="be_img">
                    <img src="/static/image/corevalue/rational04_small.jpg" class="af_img">
                </div>

                <div class="space"></div>

            <p class="adr_title">d. More Other Multimodal Transportation Services</p>
            <p class="adr_text">- Expedited Shipping
                - Intermodal Rail
                - International Air & Ocean
                - Parcel & Small Packages
                - Over-Dimensional
                - Loads Requiring Specialized Service</p>
        </div>
    </div>

    <div class="space"></div>

    {% include 'base/footer_eng.html' %}
</body>

</html>