<!DOCTYPE html>
<html lang="en">

  {% include 'base/navbar_cn.html' %}

<body>
  <div class="doorimg">
    <img src="//static/image/cn/subimg05.jpg style="width : auto; height : 250px" class="d-block w-100">
  </div>

  <div class="img-wrap">
    <div>
      <p class="sub_title">预定和票务</p>
      <hr style="border: solid 1px black;">
    </div>
    <div style="text-align: center">
      <img src="/static/image/cn/travel_cn.jpg" class="be_img">
      <img src="/static/image/cn/travel_small_cn.jpg" class="af_img">
    </div>
  </div>


  <div class="travel">
    <div id="carouselExampleFade" class="carousel slide carousel-fade" >
      <div class="carousel-inner slide" >
        <div class="carousel-item active">
          <img src="/static/image/cn/t1_cn.jpg" class="d-block w-100"  >
        </div>
        <div class="carousel-item">
          <img src="/static/image/cn/t2_cn.jpg" class="d-block w-100" >
        </div>
        <div class="carousel-item">
          <img src="/static/image/cn/t3_cn.jpg" class="d-block w-100" >
        </div>
        <div class="carousel-item">
          <img src="/static/image/cn/t4_cn.jpg" class="d-block w-100" >
        </div>
        <div class="carousel-item">
          <img src="/static/image/cn/t5_cn.jpg" class="d-block w-100">
        </div>
      </div>

      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
      <div style="text-align:center">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
      </div>
    </div>
  </div>

  {% include 'base/footer_cn.html' %}
</body>



</html>